data/**
GIS_data/**
Projected_files/**
.ipynb_checkpoints/*
src/temp/**
src/results/**
results/**
results_substation/**
results_submittedversion/**
*.zip
src/__pycache__/**
src/results_files/**
src/run -reduced TS/**
onenode/**
otoole/**
src/.ipynb_checkpoints/*
src/otoole/**
src/results_transmission/**
*.7z
src/run/__pycache__/**
src/run/checking all/**
src/run/Demand/**
otoole
src/run/onenode/**
src/run/DryVision_TS.txt
src/run/elec.csv
src/run/output/REF_solved.txt
src/run/output/REF_TS.txt
src/run/output/REF_TS_d.txt
src/run/output/REF_TS_out.txt
src/run/output/Vision_TS.txt
src/run/output/Vision_TS_out.txt
src/run/output/REF_substation.txt
src/run/ref/capacityfactor_other.csv
src/run/ref/capacityfactor_solar.csv
src/run/ref/capacityfactor_wind.csv
src/run/ref/capacitytoactivity.csv
src/run/ref/capitalcost_diesel.csv
src/run/ref/distribution.csv
src/run/ref/distributionlines.csv
src/run/ref/fixed_cost_tnd.csv
src/run/ref/fuels.csv
src/run/ref/GIS_data.csv
src/run/ref/inputactivity.csv
src/run/ref/outputactivity.csv
src/run/ref/peakdemand.csv
src/run/ref/peakdemand_calculated.xlsx
src/run/ref/peakdemand_ref.csv
src/run/ref/technologies.csv
src/run/results/**
src/run/results_ref/**
src/run/ref/update/**
src/run/vision/update/**
src/run/dryvision/update/**
src/preprocessing.py
src/run/dryvision/adjacencymatrix.csv
src/run/dryvision/capacityfactor_other.csv
src/run/dryvision/capacityfactor_solar.csv
src/run/dryvision/capacityfactor_wind.csv
src/run/dryvision/capacitytoactivity.csv
src/run/dryvision/capitalcost.csv
src/run/dryvision/capitalcost_diesel.csv
src/run/dryvision/distribution.csv
src/run/dryvision/distributioncelllength.csv
src/run/dryvision/elec.csv
src/run/dryvision/fixed_cost_tnd.csv
src/run/dryvision/fixed_cost_vision_old.csv
src/run/dryvision/fuels.csv
src/run/dryvision/GIS_data.csv
src/run/Dry_Vision_TS_noout.txt
src/run/Checklist_inputdata.xlsx
src/Capacityfactors_other.txt
src/GEOSeMOSYS - onenode.ipynb
test_data/**
temp/**
Workflow.png
VIIRS_newresolution_max_Kenya.tif.aux.xml
VIIRS_newresolution_max_Kenya.tif
VIIRS_newresolution_max_Kenya.tfw
VIIRS_multiplied_pop_48_%.tif.aux.xml
VIIRS_multiplied_pop_48_%.tif
src/input_data/time_slice.csv
src/input_data/eq2.png
src/input_data/eq1.PNG
src/run/DryVision_TS_nopeak.txt
src/run/dryvision/inputactivity.csv
src/run/dryvision/outputactivity.csv
src/run/dryvision/peakdemand.csv
src/run/dryvision/technologies.csv
src/run/dryvision/un_elec.csv
src/run/elec_noHV_cells.csv
src/run/HV_cells.csv
src/run/minigridcells.csv
src/run/MW to kW.xlsx
src/run/noHV_cells.csv
src/run/test_highdemand.txt
src/run/REF_TS_nopeak.txt
src/run/REF_TS.txt
src/run/un_elec.csv
src/run/vision/capacityfactor_solar.csv
src/run/vision/capacityfactor_wind.csv
src/run/vision/capacitytoactivity.csv
src/run/vision/capitalcost_diesel.csv
src/run/output/cplex.log
src/run/output/DryVision_TS.txt
src/run/vision/distribution.csv
src/run/vision/distributioncelllength.csv
src/run/vision/distributionlines.csv
src/run/vision/fixed_cost_tnd.csv
src/run/vision/fixed_cost_vision_old.csv
src/run/vision/fuels.csv
src/run/vision/GIS_data.csv
src/run/vision/inputactivity.csv
src/run/vision/outputactivity.csv
src/run/vision/peakdemand.csv
src/run/vision/peakdemand_calculated.xlsx
src/run/vision/technologies.csv
src/run/Vision_TS.txt
src/run/Vision_TS_nopeak.txt
Step_by_step_instruction.pptx
src/run/output/DryVision.txt
src/run/output/REF.txt
src/run/output/Vision.txt
src/run/REF_TS_d.txt
